'.text.sphinx, .source.gfm.sphinx':
  'image':
    'prefix': 'image'
    'body': '.. image:: ${1:path}\n$0'
    'description': 'Inserts image found at the path specified.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#images'

  'external link':
    'prefix': 'link'
    'body': '\\`${1:Title} <${2:http://link}>\\`_$0'
    'description': 'Adds link to URL external to your documentation.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#external-links'

  'part':
    'prefix': 'part'
    'body': '#########################\n${1:Part title}\n#########################\n'
    'description': 'Adds part section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'chapter':
    'prefix': 'chapter'
    'body': '*************************\n${1:Chapter title}\n*************************\n'
    'description': 'Adds chapter section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 1':
    'prefix': 'level1'
    'body': '${1:section title}\n=========================$0\n'
    'description': 'Adds section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 2':
    'prefix': 'level2'
    'body': '${1:subsection title}\n-------------------------$0\n'
    'description': 'Adds subsection heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 3':
    'prefix': 'level3'
    'body': '${1:subsubsection title}\n^^^^^^^^^^^^^^^^^^^^^^^^^$0\n'
    'description': 'Adds subsubsection heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'figure':
    'prefix': 'figure'
    'body': '.. figure:: ${1:path}\n$0'
  'guilabel':
    'prefix': 'guilabel'
    'body': ':guilabel:`${1:label}`$0'
  'menuselection':
    'prefix': 'menuselection'
    'body': ':menuselection:`${1:menu} --> ${2:item}`$0'
  'note':
    'prefix': 'note'
    'body': '.. note::\n\n   ${1:note text}\n$0'
