'.text.sphinx':

  'image':
    'prefix': 'image'
    'body': '.. image:: ${1:path}\n$0'
    'description': 'Inserts image found at the path specified.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#images'

  'advanced image':
    'prefix': 'advimage'
    'body': """
      .. image:: ${1:path}
         :width: ${2:200px}
         :height: ${3:100px}
         :align: ${4:center}
         :alt: ${5:alternate text}
    """
    'description': 'Inserts image, with additional advanced options.'
    'descriptionMoreURL': 'http://openalea.gforge.inria.fr/doc/openalea/doc/_build/html/source/sphinx/rest_syntax.html#image-directive'

  'figure':
    'prefix': 'figure'
    'body': """
      .. figure:: ${1:path}

         ${2:Caption text}
    """
    'description': 'An image with a caption.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives'

  'advanced figure':
    'prefix': 'advfigure'
    'body': """
      .. figure:: ${1:path}
         :width: ${2:200px}
         :height: ${3:100px}
         :align: ${4:center}
         :alt: ${5:alternate text}

         ${2:Caption text}
    """
    'description': 'An image with a caption, with additional advanced options.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives'

  'external link':
    'prefix': 'link'
    'body': '\\`${1:Title} <${2:http://link}>\\`_$0'
    'description': 'Adds link to URL external to your document.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#external-links'

  'part':
    'prefix': 'part'
    'body': '#########################\n${1:Part title}\n#########################\n'
    'description': 'Adds part section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'chapter':
    'prefix': 'chapter'
    'body': '*************************\n${1:Chapter title}\n*************************\n'
    'description': 'Adds chapter section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 1':
    'prefix': 'level1'
    'body': '${1:section title}\n=========================$0\n'
    'description': 'Adds section heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 2':
    'prefix': 'level2'
    'body': '${1:subsection title}\n-------------------------$0\n'
    'description': 'Adds subsection heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'section 3':
    'prefix': 'level3'
    'body': '${1:subsubsection title}\n^^^^^^^^^^^^^^^^^^^^^^^^^$0\n'
    'description': 'Adds subsubsection heading.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#sections'

  'guilabel':
    'prefix': 'guilabel'
    'body': ':guilabel:`${1:label}`$0'
    'description': 'Labels presented as part of an interactive user interface should be marked using guilabel.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-guilabel'

  'menuselection':
    'prefix': 'menuselection'
    'body': ':menuselection:`${1:menu} --> ${2:item}`$0'
    'description': 'This is used to mark a complete sequence of menu selections, including selecting submenus and choosing a specific operation, or any subsequence of such a sequence.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#role-menuselection'

  'note':
    'prefix': 'note'
    'body': '.. note::\n\n   ${1:note text}\n$0'
    'description': 'Notes can be used to emphasise a point that requires more attention.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives'

  'warning':
    'prefix': 'warning'
    'body': '.. warning::\n\n   ${1:warning text}\n$0'
    'description': 'Warnings can be used to highlight things that must be done with caution.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives'

  'seealso':
    'prefix': 'seealso'
    'body': '.. seealso::\n\n   ${1:seealso text}\n$0'
    'description': 'See also can be used to refer to other documents.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/basics.html#directives'

  'code block':
    'prefix': 'codeblock'
    'body': """
    .. code-block:: ${1:language}

       ${2:code content}
    """
    'description': 'Add a block of example code or terminal commands.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-code-block'

  'literal code block include':
    'prefix': 'literalinclude'
    'body': """
    .. literalinclude:: ${1:path}
       :language: ${2:language}
       :lines: ${3:1,3,5-10,20-}
    """
    'description': 'Add a block of text from a file, scoped to specific lines.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-literalinclude'

  'label':
    'prefix': 'label'
    'body': '.. _${1:label-name}:'
    'description': 'Used for cross-referencing to arbitrary locations in any document.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#cross-referencing-arbitrary-locations'

  'internal reference':
    'prefix': 'ref'
    'body': ':ref:\\`${1:Link title} <${2:label-name}>\\`$0'
    'description': 'An inline link to a label within the document.'
    'descriptionMoreURL': 'http://www.sphinx-doc.org/en/master/usage/restructuredtext/roles.html#cross-referencing-arbitrary-locations'
