'comment': [
  'Syntax highlighting for Sphinx'
  'Nice diagrams for the implementation'
  'http://docutils.sourceforge.net/docs/ref/rst/restructuredtext.html'
]
'fileTypes': [
  'rst'
]
'name': 'Sphinx'
'patterns': [
  {
    'begin': '^([ \\t]*)(?=\\S)'
    'contentName': 'meta.paragraph.sphinx'
    'end': '^(?!\\1)'
    'patterns': [
      {
        'include': '#all'
      }
    ]
  }
]
'repository':
  'all':
    'patterns': [
      {
        'comment': 'directives'
        'begin': '\\.\\.\\s[A-z][-A-z0-9_]+::(\\s*$|\\s+(.+?)\\s*$)'
        'beginCaptures':
          '1':
            'name': 'markup.constant.directive.block.sphinx'
        'end': '^(?=\\S)'
        'name': 'markup.keyword.directive.block.sphinx'
        'patterns': [
          {
            'match': '.+'
            'name': 'markup.raw.directive.block.sphinx'
          }
        ]
      }
      {
        'comment': 'Literal Blocks'
        'begin': '(::)$'
        'name': 'markup.keyword.literal.block.sphinx'
        'end': '^(?=\\S)'
        'patterns': [
          {
            'match': '.+'
            'name': 'markup.raw.literal.block.sphinx'
          }
        ]
      }
      {
        'begin': '(?<=\\s)\\*\\*(?!\\s)'
        'end': '(?<!\\s)\\*\\*(?!\\w)'
        'name': 'markup.bold.sphinx'
      }
      {
        'begin': '(?<=\\s)\\*(?!\\s)'
        'end': '(?<!\\s)\\*(?!\\w)'
        'name': 'markup.italic.sphinx'
      }
      {
        'begin': '(?<=\\s)``(?!\\s)'
        'end': '(?<!\\s)``(?!\\w)'
        'name': 'markup.raw.literal.inline.sphinx'
      }
      {
        'include': '#link-def'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.substitution.sphinx'
        'match': '(?<!\\\\)(\\|)[^|]+(?<!\\\\)(\\|_{0,2})'
        'name': 'markup.underline.substitution.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.intepreted.sphinx'
          '2':
            'name': 'punctuation.definition.intepreted.sphinx'
        'comment': 'intepreted text - single line'
        'match': '(`)[^`]+(`)(?!_)'
        'name': 'markup.other.command.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'markup.underline.link.sphinx'
        'comment': 'anonymous links __ url'
        'match': '\\s*(__)\\s+(.+)'
        'name': 'meta.link.sphinx'
      }
      {
        'include': '#link-reference'
      }
      {
        'comment', 'Inline markup'
        'begin': ':[-A-z0-9_.]*:`'
        'end': '`'
        'contentName': 'string.sphinx'
        'name': 'markup.keyword.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'string.other.link.title.sphinx'
          '3':
            'name': 'punctuation.definition.location.sphinx'
          '4':
            'name': 'markup.underline.link.sphinx'
          '5':
            'name': 'punctuation.definition.location.sphinx'
          '6':
            'name': 'punctuation.definition.link.sphinx'
        'comment': 'links `...`_ '
        'match': '(`)([^<`]+)\\s+(<)(.*?)(>)(`_)'
        'name': 'meta.link.inline.sphinx'
      }
      {
        'include': '#footnotes'
      }
      {
        'include': '#citations'
      }
      {
        'include': '#tags'
      }
      {
        'include': '#tables'
      }
      {
        'begin': '(^(=|-|~|`|#|"|\\^|\\+|\\*|\\:|\\.|\'|_){3,}$){1,1}?'
        'end': '^\\s*$'
        'name': 'punctuation.definition.heading.sphinx'
      }
      {
        'begin': '^\\.\\. '
        'end': '^[\\s]*$\\n?'
        'name': 'comment.sphinx'
      }
    ]
  'citations':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'constant.other.citation.link.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '4':
            'name': 'punctuation.definition.constant.sphinx'
          '5':
            'name': 'punctuation.definition.constant.sphinx'
          '6':
            'name': 'string.other.citation.sphinx'
        'comment': 'replacement'
        'match': '^(\\.\\.)\\s+((\\[)[A-z][A-z0-9]*(\\]))(_)\\s+(.*)'
        'name': 'meta.link.citation.def.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'constant.other.citation.link.sphinx'
          '2':
            'name': 'punctuation.definition.constant.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '4':
            'name': 'punctuation.definition.constant.sphinx'
        'comment': 'citation reference'
        'match': '((\\[)[A-z][A-z0-9_-]*(\\]))(_)'
        'name': 'meta.link.citation.sphinx'
      }
    ]
  'footnotes':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'constant.other.footnote.link.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '6':
            'name': 'punctuation.definition.constant.sphinx'
          '7':
            'name': 'punctuation.definition.constant.sphinx'
          '8':
            'name': 'string.other.footnote.sphinx'
        'comment': 'replacement'
        'match': '^(\\.\\.)\\s+((\\[)(((#?)[^]]*?)|\\*)(\\]))\\s+(.*)'
        'name': 'meta.link.footnote.def.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'constant.other.footnote.link'
          '2':
            'name': 'punctuation.definition.constant.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '4':
            'name': 'punctuation.definition.constant.sphinx'
        'comment': 'footnote reference: [0]_'
        'match': '((\\[)[0-9]+(\\]))(_)'
        'name': 'meta.link.footnote.numeric.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'constant.other.footnote.link'
          '2':
            'name': 'punctuation.definition.constant.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '4':
            'name': 'punctuation.definition.constant.sphinx'
        'comment': 'footnote reference [#]_ or [#foo]_'
        'match': '((\\[#)[A-z0-9_]*(\\]))(_)'
        'name': 'meta.link.footnote.auto.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'constant.other.footnote.link.sphinx'
          '2':
            'name': 'punctuation.definition.constant.sphinx'
          '3':
            'name': 'punctuation.definition.constant.sphinx'
          '4':
            'name': 'punctuation.definition.constant.sphinx'
        'comment': 'footnote reference [*]_'
        'match': '((\\[)\\*(\\]))(_)'
        'name': 'meta.link.footnote.symbol.auto.sphinx'
      }
    ]
  'link-def':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'punctuation.definition.string.sphinx'
          '3':
            'name': 'string.other.link.title.sphinx'
          '4':
            'name': 'punctuation.separator.key-value.sphinx'
          '5':
            'name': 'markup.underline.link.sphinx'
        'comment': 'replacement'
        'match': '(\\.\\.)\\s+(_)([-.\\d\\w\\s()/]+)(:)\\s+(.*)'
        'name': 'meta.link.reference.def.sphinx'
      }
      {
        'captures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
          '2':
            'name': 'punctuation.definition.string.sphinx'
          '3':
            'name': 'string.other.link.title.sphinx'
          '4':
            'name': 'punctuation.separator.key-value.sphinx'
          '5':
            'name': 'markup.underline.link.sphinx'
        'comment': 'replacement'
        'match': '(\\.\\.)\\s+(_`)([^`]+)(`:)\\s+(.*)'
        'name': 'meta.link.reference.def.sphinx'
      }
    ]
  'link-reference':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'string.other.link.title.sphinx'
          '2':
            'name': 'punctuation.definition.link.sphinx'
        'match': '\\b([-.:+_\\d\\w]+)(_)\\b'
        'name': 'meta.link.reference'
      }
      {
        'begin': '(`)'
        'beginCaptures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
        'end': '(`_)'
        'endCaptures':
          '1':
            'name': 'punctuation.definition.link.sphinx'
        'name': 'meta.link.reference'
        'patterns': [
          {
            'match': '[^`]+'
            'name': 'string.other.link.title.sphinx'
          }
        ]
      }
    ]
  'tables':
    'patterns': [
      {
        'captures':
          '0':
            'name': 'punctuation.definition.table.sphinx'
        'match': '\\+-[+-]+'
        'name': 'markup.other.table.sphinx'
      }
      {
        'captures':
          '0':
            'name': 'punctuation.definition.table.sphinx'
        'match': '\\+=[+=]+'
        'name': 'markup.other.table.sphinx'
      }
    ]
  'tags':
    'patterns': [
      {
        'captures':
          '1':
            'name': 'punctuation.definition.field.sphinx'
          '2':
            'name': 'punctuation.definition.field.sphinx'
        'comment': 'tags (and field lists'
        'match': '(:)[A-z][A-z0-9  =\\s\\t_.]*(:)'
        'name': 'entity.name.tag.sphinx'
      }
    ]
'scopeName': 'text.sphinx source.gfm.sphinx'
